# Configuración del servidor
PORT=3000
HOST=0.0.0.0

# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=iso_tool

# Configuración JWT
JWT_SECRET_KEY=superclave-ultra-secreta-12345
JWT_ACCESS_TOKEN_EXPIRES=1h

# Configuración CORS
CORS_ORIGIN=*
